<section class="extFooter cid-rYcgO4Oras" once="footers" id="extFooter1-13">





    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-3 col-sm-12">
<!--                 <div class="mb-3 img-logo">
                    <a href="#">
                        <img src="assets/images/logoo.gif" alt="" title>
                    </a>
                </div> -->
                <p class="mb-3 mbr-fonts-style foot-title display-7">МОО «Скажи жизни «Да!» <br>БФ «РпН»</p><hr class="mystripe"><p class="mb-4 foot-title mbr-fonts-style display-5">Разделы</p>
                <p class="mbr-text mbr-fonts-style display-7">
                    <a href="/" class="text-white"><br></a>Главная<br><a href="/about" class="text-white">О нас</a>
                    <br><a href="index.html#extFeatures41-m" class="text-white">Проекты
                </a>                    <br><a href="/blagodarnosti" class="text-white">Благодарности&nbsp;</a><br><a href="/news/1" class="text-white">Новости</a><br><a href="/documents" class="text-white">Документы</a><br><a href="/rehab-program" class="text-white">Программа реабилитации</a><br><a href="/news/1" class="text-white">Новости реабилитации</a><br><a href="/rehab-zavisimosti" class="text-white">Виды зависимостей</a><br><a href="/rehab-sozavisimost" class="text-white">Созависимость</a><br><a href="/rehab-pamyatki" class="text-white">Памятки для родителей</a><br><br></p>
            </div>
            <div class="col-md-4 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-5">Реквизиты</p>
                <p class="mbr-text mbr-fonts-style display-4">656049,г.Барнаул,проспект Ленина, 61а тел:8(3852)371366,
<br>Факс:8(3852)371366 <br>р/с№ 40703810850000061201:<br>«СИБСОЦБАНК» ООО г. Барнаул
<br>БИК          040173745
<br>Кор/счет   3010181080000000745
<br>Получатель: Благотворительный фонд «Родители против наркотиков»
<br>ИНН   2204011195
<br>КПП    220401001
<br><br></p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12" id="feedback">
                <p class="mb-1 foot-title mbr-fonts-style display-5">
                    Обратная связь</p>
                <span class="small text-muted">Введённые данные используются только для обратной связи.
Сервис не хранит и не передаёт третьим лицам Ваши ФИО и контактные данные.</span>
                <div class="form-block mt-4">
                    <div data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="K3OsM9kOAFnaVxXR6HN97HRLNaCtDHJvjIApTAfGCqDlURiU2oN3/++SbqzRVDVxgmvZs8HkEaCBRstusdpROVCqyCy8OAdFXJJL5JKPSI8hGDJXgSZX4k7DiQovtr2H.4HlcFk7c2tlEI+MhWJYuDsmkq3F4S/XdCJIq0emoF9XgkI8pHoxQtU8FFuzwSMhQPF5mVKzGVv31kX2JA0lBgekbRKv8n7o14o2Jc36eHTCqg/59zd/bbT96kS+5+v/0">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Спасибо за заполнение анкеты!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="fio">
<input type="text" name="fio" placeholder="Имя" data-form-field="fio" class="form-control display-7" value="" id="fio-extFooter1-13">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="text">
<input type="text" name="text" placeholder="Ваш телефон или email *" data-form-field="text" required="required" class="form-control display-7" value="" id="text-extFooter1-13">
</div>
<div data-for="message" class="col-md-12 form-group">
<textarea name="message" placeholder="Ваш вопрос или сообщение *" data-form-field="Message" required="required" class="form-control input display-7" id="message-extFooter1-13"></textarea>
</div>
<div class="col-md-12 align-center input-group-btn mt-2">
<button type="submit" class="btn btn-bgr btn-form btn-info display-4">ОТПРАВИТЬ СООБЩЕНИЕ</button>
</div>
</div>
</form><!--Formbuilder Form-->
</div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-12 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2020 Esina M.V. <a href="mailto:me@electis.ru">me@electis.ru</a> - все права защищены
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>