<section class="extMenu6 menu cid-rYbrk8JuMX" once="menu" id="extMenu3-2">



    <nav class="navbar navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <div class="menu-content-top">
<!--             <div class="menu-logo">
                <div class="navbar-brand">
                    <span mbr-if="showLogo" class="navbar-logo">
                        <a href="#">
                            <img src="/assets/images/logo2-134x39.png" alt="" mbr-style="{'height': logoSize + 'rem'}" title>
                        </a>
                    </span>
                    <span mbr-if="showBrand" mbr-theme-style="display-5" mbr-buttons class="navbar-caption-wrap" data-toolbar="-mbrBtnMove,-mbrBtnAdd,-mbrBtnRemove">
                        <a href="#" class="brand-link mbr-black" data-app-selector=".brand-link" data-app-placeholder="Type Text">
                            MobiRise</a>
                    </span>
                </div>
            </div> -->
            <div class="menu-content-right">
                <div class="info-widget">
                    <span class="widget-icon mbr-iconfont mbri-mobile2" style="color: rgb(244, 248, 250); fill: rgb(244, 248, 250);"></span>
                    <div class="widget-content display-4">
                        <p class="widget-title mbr-fonts-style display-4"><a href="tel:8(3854)32-67-91" class="text-white"><strong>8(3854)32-67-91</strong></a></p>
                        <p class="widget-text mbr-fonts-style display-4"></p>
                    </div>
                </div>
                <div class="info-widget">
                    <span class="widget-icon mbr-iconfont mbri-clock" style="color: rgb(244, 248, 250); fill: rgb(244, 248, 250);"></span>
                    <div class="widget-content display-4">
                        <p class="widget-title mbr-fonts-style display-4">Пн - Пт: 9:00 - 17:00</p>
                        <p class="widget-text mbr-fonts-style display-4">Сб - Вс: Закрыто</p>
                    </div>
                </div>





                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-lg btn-white-outline display-4" href="about.html#extFooter1-12">

                        Обратная связь</a></div>






            </div>
        </div>
        <div class="menu-bottom">
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                            <img src="/assets/images/logoo.gif" alt="" title="" style="height: 3.6rem;">
                        </a></span>
        </div></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav nav-dropdown js-float-line" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link mbr-black text-warning display-4" href="/">
                            Главная</a>
                    </li>
                    <li class="nav-item"><a class="nav-link link mbr-black text-warning display-4" href="/about" aria-expanded="false">О нас</a></li>

                    <li class="nav-item"><a class="nav-link link mbr-black text-warning display-4" href="/#extFeatures41-m">Проекты</a></li><li class="nav-item">
                        <a class="nav-link link mbr-black text-warning display-4" href="/blagodarnosti">Благодарности</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link mbr-black text-warning display-4" href="/news/1">
                            Новости</a>
                    </li><li class="nav-item"><a class="nav-link link mbr-black text-warning display-4" href="/documents" aria-expanded="false">
                            Документы</a></li><li class="nav-item dropdown"><a class="nav-link link mbr-black text-warning dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">
                            Реабилитация</a><div class="dropdown-menu"><a class="mbr-black text-warning dropdown-item display-4" href="/rehab-program">Программа</a><a class="mbr-black text-warning dropdown-item display-4" href="/news/1" aria-expanded="false">Новости реабилитиации</a><a class="mbr-black text-warning dropdown-item display-4" href="/rehab-zavisimosti" aria-expanded="false">Виды зависимостей</a><a class="mbr-black text-warning dropdown-item display-4" href="/rehab-sozavisimost" aria-expanded="false">Созависимость</a><a class="mbr-black text-warning dropdown-item display-4" href="/rehab-pamyatki" aria-expanded="false">Памятки для родителей</a></div></li><li class="nav-item"><a class="nav-link link mbr-black text-warning display-4" href="/#extMap1-c">
                            Контакты</a></li></ul>

            </div>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
    </nav>
</section>