<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logoomin-105x105.png" type="image/x-icon">
  <meta name="description" content='Межрегиональная Общественная Организация "СКАЖИ ЖИЗНИ "ДА!"
Благотворительный Фонд "Родители против Наркотиков"'>
  
  
  <title>"Скажи жизни "ДА!"</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/recaptcha.css">
  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="/assets/web/assets/lazyload/lazyload.js"></script>

  {% include 'includes/meta.html' %}

</head>
<body>
  {% include 'includes/nav.html' %}

<section class="extHeader cid-s0Dt177ctV mbr-fullscreen mbr-parallax-background" id="extHeader23-7p">

    

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(255, 255, 255);">
    </div>

    <div class="animated-text-background display-5" style="color: rgb(59, 103, 217); opacity: 0.3; font-size: 10rem;">
        <span class="animated-element" data-word="Добро пожаловать!" data-speed="60">
        </span>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="mbr-white py-md-0 col-md-6 pb-3">
                <h1 class="mbr-section-title mbr-white mbr-bold mbr-fonts-style align-left display-1"><span style="font-weight: normal;"><br></span><br>"СКАЖИ ЖИЗНИ "<span class="red">ДА!</span>"</h1>
                <h2 class="mbr-section-subtitle pb-3 mbr-fonts-style mbr-white align-left mbr-regular display-5">
                    Межрегиональная Общественная Организация<br>Благотворительный Фонд "РпН"<br><br></h2>
                <div class="mbr-section-btn"><a class="btn btn-md btn-info display-4" type="submit" href="/about">О НАС</a></div>
            </div>
            <div class="col-md-6 align-left img-block">
                <div class="mbr-figure">
                    <img src="/assets/images/k25a4823-2000x1333.jpeg" alt="" title="">
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="extСontent cid-rYbyyozBRm" id="extContent7-b">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 img-col">
                <img src="/assets/images/8796-1904x1346.jpg" alt="" title="">
                <div class="mbr-section-btn pt-3"><a class="btn btn-lg btn-success display-4" href="/about"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>ЧИТАТЬ ДАЛЬШЕ</a></div>
            </div>
            <div class="col-lg-6 text-col align-left">
                
                <h1 class="mbr-section-title mbr-semibold pb-4 mbr-fonts-style display-2">О ФОНДЕ</h1>
                <p class="mbr-text mbr-black mbr-regular mbr-light mbr-fonts-style display-7">В это непростое для нашей страны время, когда под тяжестью проблем многие люди, семьи сломались, обострились социальные болезни общества - наркомания и алкоголизм, что привело к повышению числа детей из неблагополучных семей, детей оставшихся без родителей  увеличению числа бесцельной и неустроенной молодёжи.<br><br>Мы Благотворительная общественная  организация МОО "Скажи жизни "Да!" Поставили своей целью  объединять разные структуры общества и государства, чтобы решать социальные проблемы общества, некоммерческая общественная организация преследует не коммерческие, а социальные цели и выгоду для общества!<br><br></p>
            </div>
        </div>
    </div>
</section>

<section class="extFeatures cid-rYbGXHCoVE" id="extFeatures41-m">

    

    
    <div class="container">

        <h1 class="mbr-section-title mbr-semibold mbr-white align-center pb-3 mbr-fonts-style display-2">Наши проекты на постоянной основе</h1>


        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-8 col-lg-4" onclick="location.href='/project/1'">
                <div class="card-wrapper card1">
                    <div class="img-wrap">
                        <img src="/assets/images/deti-logo2-362x342.png" alt="" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title title1 pb-1 align-left mbr-white mbr-fonts-style display-4"><strong>Чужих детей не бывает</strong></h4>
                        <p class="mbr-text align-left text1 mbr-regular mbr-white mbr-fonts-style display-7">Осуществление благотворительных мероприятий, направленных на защиту семьи, детей-сирот, детей с ограниченными возможностями, детей из слабо социально защищённых семей, многодетных семей, детей, оставшихся без попечения родителей.<br></p>
                    </div>
                    <a href="/project/1"><span class="mbr-iconfont icon mobi-mbri-right mobi-mbri"></span></a>
                </div>
            </div>
            <div class="card col2 p-3 col-12 col-md-8 col-lg-4" onclick="location.href='project.html'">
                <div class="card-wrapper card2">
                    <div class="img-wrap">
                        <img src="/assets/images/364x364.png" alt="" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title title2 pb-1 align-left mbr-white mbr-fonts-style display-4"><strong>Твое здоровье в твоих руках</strong></h4>
                        <p class="mbr-text align-left text2 mbr-regular mbr-white mbr-fonts-style display-7">Действующий проект бесплатный "Тренажерный зал" для детей и подростков и молодежи нашего города каждый день принимает от 10 до 15 детей.
<br></p>
                    </div>
                    <a href="#"><span class="mbr-iconfont icon mobi-mbri-right mobi-mbri"></span></a>
                </div>
            </div>

            <div class="card col3 p-3 col-md-8 col-lg-4" onclick="location.href='project.html'">
                <div class="card-wrapper card3">
                    <div class="img-wrap">
                        <img src="/assets/images/belka-360x301.png" alt="" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title title3 pb-1 align-left mbr-white mbr-fonts-style display-4"><strong>Профилактическая белка</strong></h4>
                        <p class="mbr-text align-left text3 mbr-regular mbr-white mbr-fonts-style display-7">Направлен на пропаганду здорового образа жизни среди молодёжи, студентов учебных заведений и 
<br>также для реализаций благотворительных мероприятий для детей.<br></p>
                    </div>
                    <a href="#"><span class="mbr-iconfont icon mobi-mbri-right mobi-mbri"></span></a>
                </div>
            </div>

            

        </div>
    </div>
</section>

<section class="extFeatures cid-rYbHqR7y58" id="extFeatures41-n">

    

    
    <div class="container">

        


        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-8 col-lg-3" onclick="location.href='project.html'">
                <div class="card-wrapper card1">
                    <div class="img-wrap">
                        <img src="/assets/images/422x304.png" alt="" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title title1 pb-1 align-left mbr-white mbr-fonts-style display-4"><strong>Stop-спайс
</strong></h4>
                        <p class="mbr-text align-left text1 mbr-regular mbr-white mbr-fonts-style display-7">Проект осуществляется с целью профилактики наркомании и алкоголизма в образовательных учреждениях школах, колледжах, высших учебных заведениях и 
<br>среди молодежи города на городских площадках.&nbsp;<br></p>
                    </div>
                    <a href="#"><span class="mbr-iconfont icon mobi-mbri-right mobi-mbri"></span></a>
                </div>
            </div>
            <div class="card col2 p-3 col-12 col-md-8 col-lg-3" onclick="location.href='project.html'">
                <div class="card-wrapper card2">
                    <div class="img-wrap">
                        <img src="/assets/images/likvid-430x342.png" alt="" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title title2 pb-1 align-left mbr-white mbr-fonts-style display-4"><strong>Ликвидация
</strong></h4>
                        <p class="mbr-text align-left text2 mbr-regular mbr-white mbr-fonts-style display-7">Волонтерская акция по ликвидации надписей, в общественных местах (на домах, заборах и гаражах) города Бийска, содержащих электронный адрес нарко-распространителей.
<br><br><br></p>
                    </div>
                    <a href="#"><span class="mbr-iconfont icon mobi-mbri-right mobi-mbri"></span></a>
                </div>
            </div>

            <div class="card col3 p-3 col-md-8 col-lg-3" onclick="location.href='project.html'">
                <div class="card-wrapper card3">
                    <div class="img-wrap">
                        <img src="/assets/images/1-422x417.png" alt="" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title title3 pb-1 align-left mbr-white mbr-fonts-style display-4"><strong>Накорми голодного</strong><strong><br></strong></h4>
                        <p class="mbr-text align-left text3 mbr-regular mbr-white mbr-fonts-style display-7">проект еженедельно осуществляет кормление горячим обедом людей без определенного места жительства, попавших в трудную жизненную ситуацию, проект существует с 2013 года.<br><br><br></p>
                    </div>
                    <a href="#"><span class="mbr-iconfont icon mobi-mbri-right mobi-mbri"></span></a>
                </div>
            </div>

            <div class="card col4 p-3 col-md-8 col-lg-3" onclick="location.href='project.html'">
                <div class="card-wrapper card4">
                    <div class="img-wrap">
                        <img src="/assets/images/4-1-454x454.png" alt="" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title title4 pb-1 align-left mbr-white mbr-fonts-style display-4"><strong>Социальная помощь</strong>
                        </h4>
                        <p class="mbr-text align-left text4 mbr-regular mbr-white mbr-fonts-style display-7">Центр социальной помощи людям, попавшим в трудную жизненную ситуацию.<br><br><br><br><br><br><br><br> </p>
                    </div>
                    <a href="#"><span class="mbr-iconfont icon mobi-mbri-right mobi-mbri"></span></a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="extFeatures cid-rYbMuYPMtJ" id="extFeatures29-o">
    
    

    
    <div class="container">
        <div class="container">
            <h2 class="mbr-fonts-style mb-4 align-center display-2">Наши&nbsp;<strong>Новости</strong></h2>
            <h3 class="mbr-section-subtitle mbr-fonts-style mb-5 mbr-light align-center display-5">
                <a href="news.html" class="text-primary">Перейти ко всем</a></h3>
            <div class="media-container-row">
                <div class="card col-12 col-md-4 col-lg-4">
                    <div class="card-img">
                        <img src="/assets/images/1.jpg" alt="">
                    </div>
                    <div class="card-box">
                        <p class="date mb-4">
                            <span>10 мая 2017</span>
                        </p>
                        <h4 class="card-title mbr-fonts-style display-5">
                            Market Outlook 2018?
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate est eveniet, in iusto labore libero minima minus neque nisi nulla officia perspiciatis.
                        </p>
                        <div class="mbr-section-btn"><a class="btn-underline mr-3 text-info display-4" href="#">Читать дальше &gt;</a></div>
                    </div>
                </div>
                <div class="card col-12 col-md-4 col-lg-4">
                    <div class="card-img">
                        <img src="/assets/images/3.jpg" alt="">
                    </div>
                    <div class="card-box">
                        <p class="date mb-4">
                            <span>15 мая 2017</span>
                        </p>
                        <h4 class="card-title mbr-fonts-style display-5">
                            Investing Options in 2018
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate est eveniet, in iusto labore libero minima minus neque nisi nulla officia perspiciatis.
                        </p>
                        <div class="mbr-section-btn"><a class="btn-underline mr-3 text-info display-4" href="#">Читать дальше &gt;</a></div>
                    </div>
                </div>
                <div class="card col-12 col-md-4 col-lg-4">
                    <div class="card-img">
                        <img src="/assets/images/38.jpg" alt="">
                    </div>
                    <div class="card-box">
                        <p class="date mb-4">
                            <span>17 мая 2017</span>
                        </p>
                        <h4 class="card-title mbr-fonts-style display-5">
                            Economy Goes Up
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate est eveniet, in iusto labore libero minima minus neque nisi nulla officia perspiciatis.
                        </p>
                        <div class="mbr-section-btn"><a class="btn-underline mr-3 text-info display-4" href="#">Читать дальше &gt;</a></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="extMap cid-rYbAmvTCif" id="extMap1-c">





    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 order-2">


                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2426.7541226055037!2d85.22402396073508!3d52.5378826819377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42c4ac13dbc55555%3A0x802a11f6299c6bd4!2z0KHQutCw0LbQuCDQltC40LfQvdC4INCU0LA!5e0!3m2!1sru!2sru!4v1589960730668!5m2!1sru!2sru" allowfullscreen=""></iframe></div>


                <div class="map-placeholder">
                    <div placeholder="">
                        <div class="mobirise-spinner">
                            <em></em>
                            <em></em>
                            <em></em>
                        </div>
                    </div>
                </div>

            </div>






            <div class="card col-lg-6 col-md-12 col-sm-12">

                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-5">Контакты</h3>

                <div class="stripe"></div>

                <div class="mbr-row items mbr-white">







                <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-tablet-vertical" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4"><a href="tel:+7- 3854-32-67-91"><strong>8(3854)32-67-91</strong></a></h5>
                    </div><div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-pin" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4"><a href="https://2gis.ru/biysk/inside/2815385422274194/firm/2815278048084387?m=85.226249%2C52.537486%2F15.7" target="_blank"><strong>Россия, 659300, Алтайский край, г. Бийск, Красногвардейская 41</strong></a></h5>
                    </div><div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-letter" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4"><a href="mailto:lifesyes@mail.ru"><strong>lifesyes@mail.ru</strong></a></h5>
                    </div></div>



{#                <div class="social-list py-4">#}
{#                    <div class="soc-item">#}
{#                        <a href="https://twitter.com/mobirise" target="_blank">#}
{#                            <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="soc-item">#}
{#                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">#}
{#                            <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="soc-item">#}
{#                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">#}
{#                            <div class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="soc-item">#}
{#                        <a href="https://instagram.com/mobirise" target="_blank">#}
{#                            <div class="mbr-iconfont mbr-iconfont-social socicon-skype socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="soc-item">#}
{#                        <a href="https://instagram.com/mobirise" target="_blank">#}
{#                            <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>#}
{#                        </a>#}
{#                    </div>#}
{##}
{#                </div>#}



<!--                 <h3 class="mbr-text mbr-bold mbr-fonts-style group-title" mbr-theme-style="display-5" data-app-selector=".group-title" mbr-if="showTitle">Newsletter</h3>
                <div class="stripe" mbr-if="showTitle"></div>

                <p class="mbr-text mbr-normal py-2 links mbr-fonts-style" mbr-theme-style="display-4" data-app-selector=".links">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quisquam hic minima officiis labore. Autem iste maiores,
                    impedit quasi, incidunt voluptatibus.</p>
 -->

            </div>
        </div>
    </div>
</section>

{% include 'includes/footer.html' %}


  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/mbr-animated-bg-text/mbr-animated-bg-text.js"></script>
  <script src="/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/parallax/jarallax.min.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script src="/assets/formoid.min.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>