{% load thumbnail %}
<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logoomin-105x105.png" type="image/x-icon">
  <meta name="description" content='Межрегиональная Общественная Организация "СКАЖИ ЖИЗНИ "ДА!"
Благотворительный Фонд "Родители против Наркотиков"'>
  
  
  <title>"Скажи жизни "ДА!"</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/recaptcha.css">
  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  
{#  <script src="/assets/web/assets/lazyload/lazyload.js"></script>#}

  {% include 'includes/meta.html' %}
</head>
<body>
  {% include 'includes/nav.html' %}

<section class="extHeader cid-s0Dt177ctV mbr-fullscreen mbr-parallax-background" id="extHeader23-7p">

    

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(255, 255, 255);">
    </div>

    <div class="animated-text-background display-5" style="color: rgb(59, 103, 217); opacity: 0.3; font-size: 10rem;">
        <span class="animated-element" data-word="{{ settings.banner_text }}" data-speed="60">
        </span>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="mbr-white py-md-0 col-md-6 pb-3">
                <h1 class="mbr-section-title mbr-white mbr-bold mbr-fonts-style align-left display-1"><span style="font-weight: normal;"><br></span><br>"СКАЖИ ЖИЗНИ "<span class="red">ДА!</span>"</h1>
                <h2 class="mbr-section-subtitle pb-3 mbr-fonts-style mbr-white align-left mbr-regular display-5">
                    Межрегиональная Общественная Организация<br>Благотворительный Фонд "РпН"<br><br></h2>
                <div class="mbr-section-btn"><a class="btn btn-md btn-info display-4" type="submit" href="/about">О НАС</a></div>
            </div>
            <div class="col-md-6 align-left img-block">
                <div class="mbr-figure">
                    <img src="/assets/images/k25a4823-2000x1333.jpeg" alt="" title="">
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="extСontent cid-rYbyyozBRm" id="extContent7-b">
    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 img-col">
                <img src="/assets/images/8796-1904x1346.jpg" alt="" title="">
                <div class="mbr-section-btn pt-3"><a class="btn btn-lg btn-info display-4" href="/about"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>ЧИТАТЬ ДАЛЬШЕ</a></div>
            </div>
            <div class="col-lg-6 text-col align-left">
                
                <h1 class="mbr-section-title mbr-semibold pb-4 mbr-fonts-style display-2">О ФОНДЕ</h1>
                <p class="mbr-text mbr-black mbr-regular mbr-light mbr-fonts-style display-7">{{ settings.about_text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</section>


   <section class="extVideo cid-rYmyiDr3uW" id="extVideo1-2w">
    <div class="back"></div>
    <div class="container align-center">
        <div class="col-md-12 col-lg-12 text">
        </div>
        <div class="row justify-content-center">

            <div class="mbr-white box col-md-12 col-12 col-lg-10" style="background-image: url('{{ settings.default_videocover.url }}');">
{#            <div class="mbr-white box col-md-12 col-12 col-lg-10">#}
                <div class="mbr-media show-modal align-center py-2" data-modal=".modalWindow">
                    <div class="icon-wrap">
                        <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://youtu.be/YMe6Y2eoXqY"></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal">
                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                        <span class="sr-only">Закрыть</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extFeatures cid-rYbGXHCoVE" id="extFeatures41-m">

    

    
    <div class="container">

        <h1 class="mbr-section-title mbr-semibold mbr-white align-center pb-3 mbr-fonts-style display-2">Наши проекты на постоянной основе</h1>


        <div class="row justify-content-center">
            {% for p3 in projects3 %}
                <div class="card p-3 col-12 col-md-8 col-lg-4 cursor" onclick="location.href='/project/{{ p3.pk }}'">
                    <div class="card-wrapper {% if p3.color == '1' %} light {% else %} dark {% endif %}">
                        <div class="img-wrap">
                            <img src="{{ p3.logo.url }}" alt="" title="">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title {% if p3.color == '1' %} title_dark {% else %} title_light {% endif %} pb-1 align-left mbr-white mbr-fonts-style display-4"><strong>{{ p3.title }}</strong></h4>
                            <p class="mbr-text align-left {% if p3.color == '1' %} text_dark {% else %} text_light {% endif %} mbr-regular mbr-white mbr-fonts-style display-7">{{ p3.short_description }}<br></p>
                        </div>
                        <a href="/project/{{ p3.pk }}"><span class="mbr-iconfont icon mobi-mbri-right mobi-mbri"></span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="extFeatures cid-rYbHqR7y58" id="extFeatures41-n">

    

    
    <div class="container">

        


        <div class="row justify-content-center">
            {% for p4 in projects4 %}
                <div class="card p-3 col-12 col-md-8 col-lg-3 cursor" onclick="location.href='/project/{{ p4.pk }}'">
                    <div class="card-wrapper {% if p4.color == '1' %} light {% else %} dark {% endif %}">
                        <div class="img-wrap">
                            <img src="{{ p4.logo.url }}" alt="" title="">
                        </div>
                        <div class="card-box">
                            <h4 class="card-title {% if p4.color == '1' %} title_dark {% else %} title_light {% endif %} pb-1 align-left mbr-white mbr-fonts-style display-4"><strong>{{ p4.title }}</strong></h4>
                            <p class="mbr-text align-left {% if p4.color == '1' %} text_dark {% else %} text_light {% endif %} mbr-regular mbr-white mbr-fonts-style display-7">{{ p4.short_description }}<br></p>
                        </div>
                        <a href="/project/{{ p4.pk }}"><span class="mbr-iconfont icon mobi-mbri-right mobi-mbri"></span></a>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
</section>

<section class="extFeatures cid-rYbMuYPMtJ" id="extFeatures29-o">
    
    

    
    <div class="container">
        <div class="container">
            <h2 class="mbr-fonts-style mb-4 align-center display-2">Наши&nbsp;<strong>Новости</strong></h2>
            <h3 class="mbr-section-subtitle mbr-fonts-style mb-5 mbr-light align-center display-5">
                <a href="/news/0" class="text-primary">Перейти ко всем</a></h3>
            <div class="media-container-row">
                {% for n in news %}
                <div class="card col-12 col-md-4 col-lg-4">
                    <div class="card-img">
                        {% thumbnail n.cover "300x150" crop="center" as im %}
                            <img src="{{ im.url }}" alt="">
                        {% endthumbnail %}
{#                        <img src="{{ n.cover.url }}" alt="">#}
                    </div>
                    <div class="card-box">
                        <p class="date mb-4">
                            <span>{{ n.date_publish|date:"d M Y" }}</span>
                        </p>
                        <h4 class="card-title mbr-fonts-style display-5">
                            {{ n.title }}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{ n.content|truncatewords:"15" }}
                        </p>
                        <div class="mbr-section-btn"><a class="btn-underline mr-3 text-info display-4" href="/article/{{ n.kind.pk }}-{{ n.pk }}">Читать дальше &gt;</a></div>
                    </div>
                </div>
                {% empty %}
                    Новости появятся в ближайшее время, а пока здесь ненадолго пусто
                {% endfor %}
            </div>


        </div>
    </div>
</section>


<section class="extMap cid-rYbAmvTCif" id="extMap1-c">





    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 order-2">


                <div class="google-map" id="gmap">
                    {{ settings.contact_map|safe }}
                </div>


                <div class="map-placeholder">
                    <div placeholder="">
                        <div class="mobirise-spinner">
                            <em></em>
                            <em></em>
                            <em></em>
                        </div>
                    </div>
                </div>

            </div>






            <div class="card col-lg-6 col-md-12 col-sm-12">

                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-5">Контакты</h3>

                <div class="stripe"></div>

                <div class="mbr-row items mbr-white">







                <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-tablet-vertical" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4"><a href="tel:{{ settings.contact_phone }}"><strong>{{ settings.contact_phone }}</strong></a></h5>
                    </div><div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-pin" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4"><a href="/#gmap" target="_blank"><strong>{{ settings.contact_address }}</strong></a></h5>
                    </div><div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-letter" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4"><a href="{{ settings.contact_email }}"><strong>{{ settings.contact_email }}</strong></a></h5>
                    </div></div>



                <div class="social-list py-4">
                    {% if settings.ig %}
                        <div class="soc-item">
                            <a href="{{ settings.ig }}" target="_blank">
                                <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                            </a>
                        </div>
                    {% endif %}
                    {% if settings.vk %}
                        <div class="soc-item">
                            <a href="{{ settings.vk }}" target="_blank">
                                <div class="mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                            </a>
                        </div>
                    {% endif %}
                    {% if settings.ok %}
                        <div class="soc-item">
                            <a href="{{ settings.ok }}" target="_blank">
                                <div class="mbr-iconfont mbr-iconfont-social socicon-odnoklassniki socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                            </a>
                        </div>
                    {% endif %}
                    {% if settings.yt %}
                        <div class="soc-item">
                            <a href="{{ settings.yt }}" target="_blank">
                                <div class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                            </a>
                        </div>
                    {% endif %}
                    {% if settings.fb %}
                        <div class="soc-item">
                            <a href="{{ settings.fb }}" target="_blank">
                                <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                            </a>
                        </div>
                    {% endif %}
                    {% if settings.tw %}
                        <div class="soc-item">
                            <a href="{{ settings.tw }}" target="_blank">
                                <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                            </a>
                        </div>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>
</section>

{% include 'includes/footer.html' %}


  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/mbr-animated-bg-text/mbr-animated-bg-text.js"></script>
  <script src="/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/parallax/jarallax.min.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script src="/assets/formoid.min.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>