<!DOCTYPE html>
<html  >
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logoomin-105x105.png" type="image/x-icon">
  {% include 'includes/meta.html' %}

  <title>Вход в личный кабинет</title>
 <title>"Скажи жизни "ДА!"</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
    <link rel="stylesheet" href="/styles/me.css">
  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">

</head>
<body>
<div class="row justify-content-center" style="margin-top: 12em">
        <div class="card col-4 px-0 border" style="max-width: 330px; min-width: 330px">
            <div class="card-header">
                <img id="logoImg" src="/assets/images/logoo.gif" height="40px" alt="">
            </div>
            {% block form %}
                <form method="post">
                {% csrf_token %}
                        <div class="card-body">
                            <div class="row align-items-center px-2 my-2">
                                <div class="col-12 mx-auto ">
                                    {{ form.login }}
                                </div>
                            </div>
                            <div class="row mt-4 mb-2 align-items-center px-2">
                                <div class="col-12 mx-auto">
                                        {{ form.pwd }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer footer_bg p-0">
{#                            <div class="col-12 pl-0">#}
                                <button type="submit" class="btn btn-warning btn-block btn-sm">Войти</button>
{#                            </div>#}
{#                             <div class="col-12 pl-0">#}
                                <a href="/" class="btn btn-secondary btn-secondary btn-sm">Назад</a>
{#                            </div>#}
                        </div>
                </form>
            {% endblock %}
        </div>
    </div>
<script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/mbr-animated-bg-text/mbr-animated-bg-text.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/assets/theme/js/script.js"></script>
</body>
</html>