{% load thumbnail %}
<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logoomin-105x105.png" type="image/x-icon">

  
  <title>Новости</title>
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/recaptcha.css">
    <link rel="stylesheet" href="/static/styles/me.css">
  <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="/assets/web/assets/lazyload/lazyload.js"></script>

  {% include 'includes/meta.html' %}

</head>
<body>
  {% include 'includes/nav.html' %}

<section class="extContent cid-rYi0l6pc6J" id="extContent21-27">

{#    {% if current_category.pk != 4 %}#}
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style mbr-bold display-2">Категории</h2>

        <div class="row">
            {% if current_category.pk != 4 and current_category.pk != 5 %}
                <div class="col-md-4">
                    <p class="mbr-text mbr-fonts-style display-7">
                        <span class="fa fa-star mbr-iconfont mr-2 {% if current_category is None %}cat-active{% else %}cat-normal{% endif %}"></span>
                        <a href="/news/0" class="{% if current_category is None %}text-info{% else %}cat-normal{% endif %}">Все категории</a></p>
                </div>

                {% for k in kinds %}
                    {% if k.pk != 4 and k.pk != 5 %}
                        <div class="col-md-4">
                           <p class="mbr-text mbr-fonts-style display-7">
                               <span class="fa fa-star mbr-iconfont mr-2 {% if current_category is not None and current_category.pk == k.pk %}cat-active{% else %}cat-normal{% endif %}"></span>
                               <a href="{% if k.pk == 6 %}/taxi{% else %}/news/{{ k.pk }}{% endif %}"
                                  class="{% if current_category is not None and current_category.pk == k.pk %}text-info{% else %}cat-normal{% endif %}">{{ k.kind }}</a></p>

                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for k in kinds %}
                       {% if k.pk == 4 or k.pk == 5 %}
                    <div class="col-md-4">
                       <p class="mbr-text mbr-fonts-style display-7">
                           <span class="fa fa-star mbr-iconfont mr-2 {% if current_category is not None and current_category.pk == k.pk %}cat-active{% else %}cat-normal{% endif %}"></span>
                           <a href="{% if k.pk == 5 %}/othere{% else %}/news/{{ k.pk }}{% endif %}"
                              class="{% if current_category is not None and current_category.pk == k.pk %}text-info{% else %}cat-normal{% endif %}">{{ k.kind }}</a></p>

                    </div>
                       {% endif %}

                {% endfor %}
            {% endif %}
        </div>
    </div>
{#    {% endif %}#}
</section>

<section class="extFeatures cid-rYhYAEVTgi" id="extFeatures34-22">
    <div class="container">
        <h2 class="mbr-section-title pb-1 mbr-normal mbr-fonts-style align-left display-2">{% if current_category is None %}Все категории {% else %} {{ current_category.kind }}{% endif %}</h2>
        <div class="row row-content justify-content-center">

            {% for n in news %}
            <div class="card p-3 col-lg-12 col-md-12">

                <div class="card-wrapper">
                    <div class="card-img">
{#                        <img src="{% if n.cover %}{{ n.cover.url }}{% else %}{{ settings.default_newscover.url }}{% endif %}" title="" alt="">#}
                        {% if n.cover %}
                            {% thumbnail n.cover "300x300" crop="top" as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail settings.default_newscover "300x300" crop="center" as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                        {% endif %}
                        <div class="card-box">
                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7"><strong>{% if n.kind.kind != 4 %}{{ n.kind.kind }}{% endif %}</strong>&nbsp;</h4>
                        </div>
                    </div>

                    <div class="content-wrapper">

                        <div class="text-box">
                            <div>
                                <h4 class="card-title2 mbr-fonts-style mbr-normal align-left display-5"><a href="/article/{{ n.kind.pk }}-{{ n.pk }}"><strong>{{ n.title }}</strong></a>&nbsp;</h4>
                                <div class="ico-box">
                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-calendar"></span>
                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">{{ n.date_publish|date:"d.m.Y" }}</p>
                                </div>
                            </div>

                        </div>
                        <div class="p-box">
                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7">
                                {{ n.content|truncatewords:"25" }}<br>
                            </p>

                        </div>
                        <div class="mbr-section-btn"><a href="/article/{{ n.kind.pk }}-{{ n.pk }}" class="btn btn-info-outline btn-sm display-4">
                                    Читать</a></div>
                    </div>

                </div>
            </div>
                {% empty %}
                    Новости появятся в ближайшее время, а пока здесь ненадолго пусто
            {% endfor %}
{#            <div class="card p-3 col-lg-12 col-md-12">#}
{##}
{#                <div class="card-wrapper">#}
{#                    <div class="card-img">#}
{#                        <img src="/assets/images/54226f88-e21e-428d-a409-a5063463653f-1-622x1280.jpeg" title="" alt="">#}
{#                        <div class="card-box">#}
{#                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7"><strong>"Социальные проекты"</strong>&nbsp;</h4>#}
{##}
{#                            #}
{##}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="content-wrapper">#}
{##}
{#                        <div class="text-box">#}
{#                            <div>#}
{#                                <h4 class="card-title2 mbr-fonts-style mbr-normal align-left display-5"><a href="/article/1-1"><strong>«Творческая кузница»</strong></a>&nbsp;</h4>#}
{#                                <div class="ico-box">#}
{#                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-calendar"></span>#}
{#                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">02.03.2020</p>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            #}
{##}
{##}
{#                        </div>#}
{#                        <div class="p-box">#}
{#                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7">#}
{#                                Волонтеры фонда организовали сегодня поездку ребятишек из Центра помощи детям, оказавшимся без попечения родителей в детскую школу искусств № 4 города Бийск.#}
{#Педагоги школы проводили интересные мастер-классы, очень занимательное и захватывающее мероприятие!<br>#}
{#                            </p>#}
{#                            #}
{#                        </div>#}
{#                        <div class="mbr-section-btn"><a href="/article/1-1" class="btn btn-info-outline display-4">#}
{#                                    Читать</a></div>#}
{##}
{#                        #}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}


{#            <div class="card p-3 col-lg-12 col-md-12">#}
{##}
{#                <div class="card-wrapper">#}
{#                    <div class="card-img">#}
{#                        <img src="/assets/images/07.jpg" title="" alt="">#}
{#                        <div class="card-box">#}
{#                            <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-7">"Новости России"</h4>#}
{##}
{#                            <div class="mbr-iconfont mbr-iconfont-social icobig mbri-star" media-simple="true"></div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="content-wrapper">#}
{##}
{#                        <div class="text-box">#}
{#                            <div>#}
{#                                <h4 class="card-title2 mbr-fonts-style mbr-normal display-5"><a href="article.html">POLITICS</a></h4>#}
{#                                <div class="ico-box">#}
{#                                    <span class="pr-2 mbr-iconfont mbr-iconfont-social ico2 mbri-pin"></span>#}
{#                                    <p class="mbr-text mbr-fonts-style phone mbr-normal display-4">London</p>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            #}
{##}
{##}
{#                        </div>#}
{#                        <div class="p-box">#}
{#                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7">$200                                 <br>#}
{#                            </p>#}
{#                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7">3 Courses                                <br>#}
{#                            </p>#}
{#                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7">50 Partaker                                <br>#}
{#                            </p>#}
{#                            <p class="mbr-text mbr-fonts-style mbr-normal card-text display-7">10 Companies                                <br>#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="mbr-section-btn"><a href="article.html" class="btn btn-info-outline display-4">#}
{#                                    Читать</a></div>#}
{##}
{#                        #}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}

            


        </div>
{% include "includes/paginator.html" %}
    </div>

</section>
{% include 'includes/footer.html' %}


  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script src="/assets/formoid.min.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  
</body>
</html>